location / {
    try_files $uri @app;
}

location @app {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://app_server;
}

location {{ getenv "NGINX_DJANGO_STATIC_URL" "/static/" }} {
    alias {{ getenv "NGINX_DJANGO_STATIC_ROOT" "/var/www/html/static/" }};
}

location {{ getenv "NGINX_DJANGO_MEDIA_URL" "/media/" }} {
    alias {{ getenv "NGINX_DJANGO_MEDIA_ROOT" "/var/www/html/media/" }};
}
