include fastcgi.conf;

{{ $index := (getenv "NGINX_INDEX_FILE" "index.php") }}
index {{ $index }};

location / {
    try_files $uri /{{ $index }}?$args;
}

location ~ [^/]\.php(/|$) {
    fastcgi_split_path_info ^(.+?\.php)(/.*)$;
    fastcgi_pass php;
    track_uploads uploads 60s;
}