{{ $static := (getenv "NGINX_STATIC_EXT_REGEX" "css|cur|js|jpe?g|gif|htc|ico|png|xml|otf|ttf|eot|woff|woff2|svg|mp4|svgz|ogg|ogv|pdf|pptx?|zip|tgz|gz|rar|bz2|doc|xls|exe|tar|mid|midi|wav|bmp|rtf|txt") }}

index index.php;

include fastcgi.conf;

{{ if not (getenv "NGINX_NO_DEFAULT_HEADERS") }}
add_header  X-XSS-Protection '1; mode=block';
add_header  X-Frame-Options SAMEORIGIN;
add_header  X-Content-Type-Options nosniff;
add_header  Cache-Control "store, must-revalidate, post-check=0, pre-check=0";
{{ end }}

location / {
    location = /readme.html {
        return 404;
    }

    location ~* /wp-content/uploads/.+\.txt {
        access_log {{ getenv "NGINX_STATIC_ACCESS_LOG" "off" }};
        expires {{ getenv "NGINX_STATIC_EXPIRES" "7d" }};
        tcp_nodelay {{ getenv "NGINX_STATIC_TCP_NODELAY" "off" }};
        open_file_cache {{ getenv "NGINX_STATIC_OPEN_FILE_CACHE" "max=1000 inactive=30s" }};
        open_file_cache_valid {{ getenv "NGINX_STATIC_OPEN_FILE_CACHE_VALID" "30s" }};
        open_file_cache_min_uses {{ getenv "NGINX_STATIC_OPEN_FILE_CACHE_MIN_USES" "2" }};
        open_file_cache_errors {{ getenv "NGINX_STATIC_OPEN_FILE_CACHE_ERRORS" "off" }};
    }

    location ~* ^.*(\.(?:git|svn|htaccess|txt|pot?))$ {
        return 404;
    }

    location ~* /(?:uploads|files)/.*\.php$ {
        deny all;
    }

    location ~* ^.+\.(?:{{ $static }})$ {
        access_log {{ getenv "NGINX_STATIC_ACCESS_LOG" "off" }};
        tcp_nodelay {{ getenv "NGINX_STATIC_TCP_NODELAY" "off" }};
        expires {{ getenv "NGINX_STATIC_EXPIRES" "7d" }};

        add_header Pragma "cache";
        add_header Cache-Control "public";

        open_file_cache {{ getenv "NGINX_STATIC_OPEN_FILE_CACHE" "max=1000 inactive=30s" }};
        open_file_cache_valid {{ getenv "NGINX_STATIC_OPEN_FILE_CACHE_VALID" "30s" }};
        open_file_cache_min_uses {{ getenv "NGINX_STATIC_OPEN_FILE_CACHE_MIN_USES" "2" }};
        open_file_cache_errors {{ getenv "NGINX_STATIC_OPEN_FILE_CACHE_ERRORS" "off" }};

        location ~* ^.+\.(?:svgz|tgz|gz)$ {
            gzip off;
            add_header Content-Encoding gzip;
        }

        {{ if getenv "NGINX_STATIC_404_TRY_INDEX" }}
        try_files $uri $uri/ /index.php?$args;
        {{ end }}
    }

    try_files $uri $uri/ /index.php?$args;
}

# Admin for subdir multisite.
if (!-e $request_filename) {
    rewrite /wp-admin$ $scheme://$host$uri/ permanent;
    rewrite ^/[_0-9a-zA-Z-]+(/wp-.*) $1 last;
    rewrite ^/[_0-9a-zA-Z-]+(/.*\.php)$ $1 last;
}

# Add trailing slash to */wp-admin requests.
rewrite /wp-admin$ $scheme://$host$uri/ permanent;

location ~ [^/]\.php(/|$) {
    fastcgi_split_path_info ^(.+?\.php)(/.*)$;
    if (!-f $document_root$fastcgi_script_name) {
        return 404;
    }

    fastcgi_pass php;
    track_uploads {{ getenv "NGINX_TRACK_UPLOADS" "uploads 60s" }};
}
