index index.php;

include fastcgi.conf;

add_header Cache-Control "store, must-revalidate, post-check=0, pre-check=0";

location = /readme.html {
    return 404;
}

location ~* ^.*(\.(?:git|svn|htaccess|txt|pot?))$ {
    return 404;
}

location ~* /(?:uploads|files)/.*\.php$ {
    deny all;
}

location / {
    try_files $uri $uri/ /index.php?$args;
}

# Admin for subdir multisite.
if (!-e $request_filename) {
    rewrite /wp-admin$ $scheme://$host$uri/ permanent;
    rewrite ^/[_0-9a-zA-Z-]+(/wp-.*) $1 last;
    rewrite ^/[_0-9a-zA-Z-]+(/.*\.php)$ $1 last;
}

# Add trailing slash to */wp-admin requests.
rewrite /wp-admin$ $scheme://$host$uri/ permanent;

location ~ [^/]\.php(/|$) {
    fastcgi_split_path_info ^(.+?\.php)(/.*)$;
    if (!-f $document_root$fastcgi_script_name) {
        return 404;
    }

    fastcgi_pass php;
    track_uploads {{ getenv "NGINX_TRACK_UPLOADS" "uploads 60s" }};
}
