language: bash

services:
  - docker

env:
  matrix:
    - NGINX_VER=1.15.0 TAGS=1.15,1,latest
    - NGINX_VER=1.14.0 TAGS=1.14
    - NGINX_VER=1.13.12 TAGS=1.13

script:
  - make && make test

after_success:
  - . "${TRAVIS_BUILD_DIR}/release.sh"
