{{ if getenv "NGINX_DISABLE_CACHING" }}
expires -1;
add_header Pragma "no-cache";
add_header Cache-Control "no-store, no-cache, must-revalicate, post-check=0 pre-check=0";
{{ end }}

location ~* ^/.well-known/ {
    allow all;
}

location = /favicon.ico {
    expires {{ getenv "NGINX_STATIC_EXPIRES" "7d" }};
    try_files /favicon.ico @empty;
    log_not_found off;
    access_log {{ getenv "NGINX_STATIC_ACCESS_LOG" "off" }};
}

location = /robots.txt {
    allow all;
    log_not_found off;
    access_log {{ getenv "NGINX_STATIC_ACCESS_LOG" "off" }};
}

location @empty {
    expires {{ getenv "NGINX_STATIC_EXPIRES" "7d" }};
    empty_gif;
}

location ~* \.flv$ {
    flv;
}

location ~* ^.+\.(?:m4a|mp4|mov)$ {
    mp4;
    mp4_buffer_size {{ getenv "NGINX_STATIC_MP4_BUFFER_SIZE" "1M" }};
    mp4_max_buffer_size {{ getenv "NGINX_STATIC_MP4_MAX_BUFFER_SIZE" "5M" }};
}

location ~ ^/\.healthz$ {
    access_log off;
    return 204;
}

{{ $pagespeed := (getenv "NGINX_PAGESPEED") }}
{{ if (eq $pagespeed "on") }}
location ~ "\.pagespeed\.([a-z]\.)?[a-z]{2}\.[^.]{10}\.[^.]+" {
    add_header "" "";
}

location ~ "^/pagespeed_static/" { }
location ~ "^/ngx_pagespeed_beacon$" { }
{{ end }}

{{ if not (getenv "NGINX_ALLOW_ACCESS_HIDDEN_FILES") }}
location ~ /\. {
    deny all;
}
{{ end }}

{{ if getenv "NGINX_HIDE_50x_ERRORS" }}
error_page 500 502 503 504 /50x.html;
location = /50x.html {
    root   /usr/share/nginx/html;
}
{{ end }}

{{ if getenv "NGINX_ERROR_403_URI" }}
error_page 403 {{ getenv "NGINX_ERROR_403_URI" }};
{{ end }}

{{ if getenv "NGINX_ERROR_404_URI" }}
error_page 404 {{ getenv "NGINX_ERROR_404_URI" }};
{{ end }}

{{ if getenv "NGINX_SERVER_EXTRA_CONF_FILEPATH" }}
include {{ getenv "NGINX_SERVER_EXTRA_CONF_FILEPATH" }};
{{ end }}