Include /etc/nginx/modsecurity/recommended.conf

{{ if getenv "NGINX_MODSECURITY_USE_OWASP_CRS" }}
Include /etc/nginx/modsecurity/crs/setup.conf
{{ end }}

{{ if or (eq (getenv "NGINX_VHOST_PRESET") "drupal9") (eq (getenv "NGINX_VHOST_PRESET") "drupal8") (eq (getenv "NGINX_VHOST_PRESET") "drupal7") (eq (getenv "NGINX_VHOST_PRESET") "drupal6") }}
SecAction \
 "id:900130,\
  phase:1,\
  nolog,\
  pass,\
  t:none,\
  setvar:tx.crs_exclusions_drupal=1,\
  setvar:tx.crs_exclusions_wordpress=0,\
  setvar:tx.crs_exclusions_nextcloud=0,\
  setvar:tx.crs_exclusions_dokuwiki=0,\
  setvar:tx.crs_exclusions_cpanel=0"
{{ end }}

{{ if (eq (getenv "NGINX_VHOST_PRESET") "wordpress") }}
SecAction \
 "id:900130,\
  phase:1,\
  nolog,\
  pass,\
  t:none,\
  setvar:tx.crs_exclusions_drupal=0,\
  setvar:tx.crs_exclusions_wordpress=1,\
  setvar:tx.crs_exclusions_nextcloud=0,\
  setvar:tx.crs_exclusions_dokuwiki=0,\
  setvar:tx.crs_exclusions_cpanel=0"
{{ end }}

SecAction \
 "id:900110,\
  phase:1,\
  nolog,\
  pass,\
  t:none,\
  setvar:tx.inbound_anomaly_score_threshold={{ getenv "NGINX_MODSECURITY_INBOUND_ANOMALY_SCORE_THRESHOLD" "7" }},\
  setvar:tx.outbound_anomaly_score_threshold={{ getenv "NGINX_MODSECURITY_OUTBOUND_ANOMALY_SCORE_THRESHOLD" "7" }}"

{{ if getenv "NGINX_MODSECURITY_PRE_CORE_RULES" }}
Include {{ getenv "NGINX_MODSECURITY_PRE_CORE_RULES" }}
{{ end }}

{{ if getenv "NGINX_MODSECURITY_USE_OWASP_CRS" }}
Include /etc/nginx/modsecurity/crs/rules/*.conf
{{ end }}

{{ if getenv "NGINX_MODSECURITY_POST_CORE_RULES" }}
Include {{ getenv "NGINX_MODSECURITY_POST_CORE_RULES" }}
{{ end }}

