upstream php {
    server {{ getenv "NGINX_BACKEND_HOST" "php" }}:{{ getenv "NGINX_BACKEND_PORT" "9000" }} fail_timeout={{ getenv "NGINX_BACKEND_FAIL_TIMEOUT" "0" }};
}

map $http_x_forwarded_proto $fastcgi_https {
    default $https;
    http '';
    https on;
}
